.main-title {
  background-color: black;
  display: flex;
}

.title-text {
  color: white;
  letter-spacing: 50px;
  font-size: 60px;
  margin-left: 370px;
}

.main-content {
  display: flex;
}

.photo {
  padding-top: 20px;
}

aside {
  background-color: gray;
  width: 300px;
}
